:root {
    --primary-color: #6f4037;
}

html {
    font-family: 'Bree Serif', serif;
}


.nav-wrapper{
    background-color: var(--primary-color);
}


.slider .indicators .indicator-item.active{
    background-color:var(--primary-color);
}

.move{
    margin-top: 60px;
    margin-bottom: 20PX;
}

.parallax-container{
    min-height: 280px;
    height: auto;
}

.icon-coffee {
    color: var(--primary-color);
}

.footer-one {
    background: var(--primary-color);
}

.footer-two {
    background: #462822;
    margin:0;
}